html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3, h4, ul, li, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-size: 1.6rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1 {
  font-weight: bold;
}

label, input, textarea {
  display: block;
}

/* common */
h2 {
  width: 250px;
  text-align: center;
  font-weight: bold;
  margin: 40px auto 40px;
  border-bottom: 2px solid black;
}

.btn {
  display: block;
  color: white;
  background: skyblue;
  border-radius: 10px;
  text-align: center;
}

.btn-back {
  border-radius: 0;
  width: 130px;
}

.submit-btn {
  border: 2px solid grey;
  width: 100px;
}

.border-none {
  border: none;
}

.error {
  color: #FF0000;
}

/* content */
.container {
  width: 800px;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  padding: 10px;
}

.btn_header {
  width: 150px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav li:not(first-child) {
  margin-right: 10px;
}

.logout-btn {
  display: block;
  color: white;
  background: blue;
  padding: 0 5px;
  margin-bottom: 20px;
}

/* top */
.top-content>p {
  text-align: center;
  margin-bottom: 40px;
}

.top-content {
  width: 400px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
  padding: 20px;
}

.top-menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.btn_top {
  width: 150px;
  margin: 0 auto 20px;
  padding: 20px 0;
}

/* contact top page */
.btn_contact {
  width: 100px;
  margin-bottom: 20px;
}

.sort_contact {
  margin-bottom: 10px;
}

.contact-list {
  font-size: 1.2rem;
}

.contact-list a {
  color: blue;
}

.contact-list,
.contact-list th,
.contact-list td {
  border: 1px solid grey;
}

.background-yellow {
  background: #FFF2CC;
}

.background-red {
  background: #FF0000;
}

/* contact register */
.contact-register-wrapper textarea {
  width: 80%;
  margin-bottom: 20px;
}
.register-btn-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contact-no {
  margin-bottom: 20px;
}

.contact-register-wrapper form>div:nth-of-type(1),
.contact-register-wrapper form>div:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.contact-register-wrapper form>div:nth-of-type(1) div,
.contact-register-wrapper form>div:nth-of-type(2) div {
  margin-right: 20px;
}

/* user detail */
.user-form {
  margin-bottom: 20px;
}

.user-task-table,
.user-task-table tr,
.user-task-table td {
  border: 1px solid black;
}

/* login page */
#login .container form {
  text-align: center;
}

#login .container form input {
  margin: 0 auto;
}

#login .container form button {
  margin-top: 20px;
}
